list, dict, tuple, iterator, for, string, if-else

In [1]:
x=[2,3,4,'Hello']

In [2]:
x

[2, 3, 4, 'Hello']

In [3]:
x.append('World!')

In [4]:
x

[2, 3, 4, 'Hello', 'World!']

In [5]:
x.pop()

'World!'

In [6]:
x

[2, 3, 4, 'Hello']

In [7]:
x.pop(0)

2

In [8]:
x

[3, 4, 'Hello']

In [11]:
for i in range(3):
    print(i)

0
1
2

In [14]:
x=[2,5,6,3,7,10]
for i in x:
    print(i**2)

4
25
36
9
49
100

In [15]:
#[0,1,4,9,16,25,..]
x=[]
for i in range(10):
    x.append(i**2)
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
%%timeit -n1
x=[]
for i in range(1000000):
    x.append(i**2)

226 ms ± 11.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [20]:
# List comprehension
x=[i**2 for i in range(10)]
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
%%timeit -n1
x=[i**2 for i in range(1000000)]

200 ms ± 9.31 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

# dictionary

In [24]:
d = {'key':'value'}
d

{'key': 'value'}

In [25]:
d['key']

'value'

In [30]:
d.get('key2','not found')

'not found'

In [40]:
book={'wasit':'224','pakpong':'225'}

In [41]:
book.get('wasit','not found')

'224'

In [42]:
book.get('einstein','not found')

'not found'

In [43]:
book['einstein']='227'

In [44]:
book.get('einstein','not found')

'227'

In [45]:
book

{'wasit': '224', 'pakpong': '225', 'einstein': '227'}

In [47]:
%%sh
ls

littleread.txt
Week01.ipynb
week02.ipynb

In [50]:
with open('littleread.txt', 'r') as f:
    s=f.read()

In [59]:
d={}
for i in s.split():
    key=i.lower()
    d[key]=d.get(key,0)+1
d['little']

19

# Tuple

In [64]:
x=(2,3,6)

In [68]:
x[0]

2

# Slicing

In [69]:
x=[3,4,7,2,7,5,8,9]

In [70]:
x[0]

3

In [72]:
x[1]

4

In [73]:
x[2]

7

In [74]:
x[-1]

9

In [75]:
x[-2]

8

In [76]:
x[6]

8

In [78]:
x=[3,4,7,2,7,5,8,9]
x[:3]

[3, 4, 7]

In [80]:
x=[3,4,7,2,7,5,8,9]
x[-3:]

[5, 8, 9]

In [84]:
x=[3,4,7,2,7,5,8,9]
x[2:-2]

[7, 2, 7, 5]

In [85]:
#x[ lower_bound(inclusive) : upper_bound(exclusive) ]

In [106]:
def foo(*args,**kwargs):
    """ foo(name,height,gender)"""
    print(kwargs)
    print('Hello %s, your height is %s'%(kwargs["name"],kwargs["height"]))

In [104]:
foo(name="Eight", height=1.9, gender='male')

{'name': 'Eight', 'height': 1.9, 'gender': 'male'}
Hello Eight, your height is 1.9

In [ ]:
foo()